<h1>單字</h1>

<%
if (voc) {
%>

<p><%= voc.word %></p>
<p><%= voc.phonic %></p>
<p><%= voc.type %></p>
<p><%= voc.meaning %></p>
<p>這個單字由 <a href="/user/<%= voc.creator.id %>"><%= voc.creator.nickname %></a> 建立</p>

<%
} else {
%>

查無此單字，您想要<a href="/voc/new">建立</a>嗎？

<%
}
%>